a:focus {
  outline: none;
}

h1 {
  font-size: 5.4em;
  font-weight: 700;
}

h2 {
  font-size: 4em;
}

main .symbol-bg-01:after {
  content: '@';
  position: absolute;
  font-size: 50vw;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) translateZ(0.01px);
  text-align: left;
  font-weight: bold;
  /*opacity: 0;*/
  color: #f3f3f3;
  transition: all 0;
  transition-delay: 0;
  transition-duration: 0;
}

main.on .symbol-bg-01:after {
  color: #ffe3a1;
  /*opacity: 1;*/
  transition: all;
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  transform: translateY(-50%) translateX(-50%) translateZ(0.01px);
}

main p {
  font-weight: 400;
  font-family: 'Assistant';
}

.text-block-corner-left {
  max-width: 510px;
  margin-top: 422px;
  padding-left: 110px;
  text-align: justify;
  font-size: 1.1em;
  font-style: italic;
  font-family: 'Work Sans';
  font-weight: 500;
}

.ltr-rot {
  transition: all 0.3s ease-out;
  transform-origin: 50% 50%;
}

.ltr-rot-01-01 {
  transform: rotate(-7deg) translate(-2px,4px);
  display: inline-block;
}

.ltr-rot-01-02 {
  transform: rotate(20deg) translate(4px,5px);
  display: inline-block;
}

.ltr-rot-02-01 {
  transform: rotate(-12deg) translate(-5px,4px);
  display: inline-block;
}

.ltr-rot-02-02 {
  transform: rotate(7deg) translate(6px,4px);
  display: inline-block;
}

.ltr-rot-03-01 {
  transform: rotate(30deg) translate(15px,-4px);
  display: inline-block;
}

.ltr-rot-04-01 {
  transform: rotate(-12deg) translate(0,4px);
  display: inline-block;
}

.ltr-rot-04-02 {
  transform: rotate(-7deg) translate(-2px,1px);
  display: inline-block;
}

li.cycled .ltr-rot, li.active .ltr-rot {
  transform: none;
}

nav.off .ltr-rot {
  /*transform: none;*/
}

.heading-split-bar {
  color: #fff;
}

main.off .heading-split-bar-01 {
  background: #aaa;
  transition: all 0.3s;
}

.heading-split-bar-01 {
  background: #bf62d7; 
  transition: all 0.3s;
}