a:focus {
  outline: none;
}

h1 {
  font-size: 5.4em;
  font-weight: 700;
}

h2 {
  font-size: 4em;
}

main p {
  font-weight: 400;
  font-family: 'Assistant';
}

/*(NOTE) This needs some queries so it doesn't overflow & move text beneath down */
.text-block-corner-left {
  max-width: 510px;
  margin-top: 422px;
  padding-left: 110px;
  padding-left: 25%;
  text-align: justify;
  font-size: 1.1em;
  font-style: italic;
  font-family: 'Work Sans';
  font-weight: 500;
}

.ltr-rot {
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50%;
}

.ltr-rot-01-01 {
  transform: rotate(-7deg) translate(-2px,4px);
  display: inline-block;
}

.ltr-rot-01-02 {
  transform: rotate(20deg) translate(4px,5px);
  display: inline-block;
}

.ltr-rot-02-01 {
  transform: rotate(-12deg) translate(-5px,4px);
  display: inline-block;
}

.ltr-rot-02-02 {
  transform: rotate(7deg) translate(6px,4px);
  display: inline-block;
}

.ltr-rot-03-01 {
  transform: rotate(30deg) translate(15px,-4px);
  display: inline-block;
}

.ltr-rot-04-01 {
  transform: rotate(-12deg) translate(0,4px);
  display: inline-block;
}

.ltr-rot-04-02 {
  transform: rotate(-7deg) translate(-2px,1px);
  display: inline-block;
}

li.cycled .ltr-rot/*, li.active .ltr-rot*/ {
  transform: none;
}

nav.off .ltr-rot {
  /*transform: none;*/
}

.heading-split-bar {
  color: #fff;
}

main h2 {
  background: none;
}

main .heading-split-bar-01 {
  background: #aaa;
  background: #f5f5f5;
  transition: all 0.3s;
}

main.on .heading-split-bar-01 {
  background: #bf62d7; 
  transition: all 0.3s;
  color: #fff;
}

main.on h2 {
  color: #fff;
}