/*Basically reset nav/main & .on .off styling to basic pos relative, no flex*/
@media (max-width: 750px) {

  body, body.d-flx {
    display: initial;
    transform: none !important;
  }

  body.pos-abs {
    position: relative;
  }

  nav, nav.on, nav.off, main, main.on, main.off {
    position: relative;
    animation: none;
    transition: none;
  }

  nav, nav.on, nav.off {
    position: fixed !important;
    height: auto;
    left: initial;
    margin-left: 0;
    top: initial;
    bottom: 0;
    right: 0; left: 0;
    box-shadow: 0 3px 9px rgba(108, 85, 119, 0.3);
    z-index: 5;
  }

  main {
    /* padding-top: 60px; */
    padding-bottom: 60px;
    font-size: 1.1rem;
  }

  main * {
    transition: none;
  }

  section {
    padding: 1rem 1rem;
  }

  nav ul {
    position: relative !important;
    top: initial !important;
    transform: none !important;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    margin-left: 10px !important;
    /*flex-grow: 1;*/
    justify-content: space-between;
  }

  nav ul li, nav ul li a {
    height: auto;
    margin: 0;
    left: initial;
    top: initial;
    transform: none;
  }

  nav ul li:first-child a {
    padding-left: 0;
  }

  nav ul li:last-child a {
    padding-right: 0;
  }

  nav ul li, nav ul li:last-child {
    padding: 0;
    /*flex: 1;*/
  }

  nav ul li, nav ul li.active, nav ul li.active.cycled {
    background: none;
    box-shadow: none;
  }

  nav ul li a {
    padding: 1rem 10px 1.5rem;
    width: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 25px;
    letter-spacing: -2px;
  }
  
  nav ul li.active a {
    cursor: pointer; 
  }

  nav.on ul li a:before, nav.on ul li.active a:before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 15px;
    left: auto;
    right: -10px;
    height: 19px;
    background: #63c3e9;
    z-index: -1;
    transform: skewX(-40deg);
    transition: all 0.2s;
    pointer-events: none;
    opacity: 1;
  }

  nav.on ul li.active a:before {
    background: #cf7edb;
  }

  nav.on ul li a:hover:before, nav.on ul li.active a:hover:before {
    box-shadow: -10px 8px 0 rgba(0,0,0,0.05);
    width: 80%;
    left: auto;
    right: -20px;
    bottom: 15px;
    height: 25px;
  }

  nav ul li.active a:hover:after, nav ul li.active.cycled a:after {
    display: none;
  }

  nav ul li.active:before {
    width: 90px;
    height: 90px;
    left: 36%;
    transform: translate(-50%,-50%);
    top: 42%;
  }

  nav.on ul li.active a:before, nav.on ul li.active a:hover:before {
    background: rgb(242, 167, 104);
  }

  nav .nav-tip, nav.on .nav-tip, nav.off .nav-tip {
    display: none;
  }

  #nav-link-home {
    right: auto;
    left: 0;
    top: 0;
    line-height: 1;
    font-size: 23px;
    color: #fff;
    position: absolute;
    bottom: 0;
    transform: none;
    text-align: center;
    width: 60px;
    padding: 0;
    /*left: 60px;*/
  }

  #nav-link-home a {
    background: rgba(0,0,0,0.07);
    height: 100%;
  }

  #nav-link-home a:hover {
    background: rgba(0,0,0,0.2);
  }

  nav .nav-txtr {
    display: none;
  }

  main section, main.on section, main.off section, main article, main.on article, main.off article {
    opacity: 1;
  }

  main.off, main.off p, main.off ul li, main.off h1, main.off h2, main.off h3, main.off h4, main.off h5, main.off h6 {
    color: #333;
  }

  main img, main video {
    opacity: 1;
  }

  nav {
    overflow: hidden;
  }

  main {
    width: 100%;
  }

  main section {
    max-width: none;
  }

  main.off .symbol-bg-01:after {
    color: #ffe3a1;
  }

  main .heading-split-bar-01, main.on .heading-split-bar-01, main.off .heading-split-bar-01 {
    background: #bf62d7; 
    transition: all 0.3s;
    color: #fff;
  }

  main .heading-split-bar-01 h2, main.on .heading-split-bar-01 h2 {
    color: #fff;
  }

  h1 { font-size: 4rem; }
  h2 { font-size: 3rem; }
  #heading-01 { margin-top: 1rem; }
  main .heading-split-bar { padding: 1rem; margin-bottom: 1.5rem; }
  .heading-split-bar h2 { padding-right: 1rem; }

  main .symbol-bg-01:after {
    font-size: 150vw;
    top: 660px;
  }

  figure {
    margin: 1.5rem 0;
  }

  section.divider {
    padding-top: 0;
    padding-bottom: 0;
  }
  section.divider hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .btn-to-top {
    display: block;
  }

  .linker {
    right: 1rem;
    top: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-right:  35px;
  }

}

@media (max-width: 520px) {

  nav ul li a {
    font-size: 18px;
    padding: 1rem 3px 1.5rem;
  }

  figure {
    float: none;
    width: 100%;
    max-width: none !important;
    margin: none !important;
  }

  video {
    width: 100%;
  }

  figure, figure.flt-l, figure.flt-r {
    margin: 1rem 0 !important;
    width: 100%;
    max-width: none;
  }

  section.divider {
    padding-top: 0;
    padding-bottom: 0;
  }
  section.divider hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  *.flt-l, *.flt-r {
    margin-left: 0;
    margin-right: 0;
  }

  nav ul li.active:before {
    width: 70px;
    height: 70px;
    left: 30%;
    transform: translate(-50%,-50%);
    top: 47%;
  }

}

@media (max-width: 350px) {
  nav {
    overflow-x: auto;
  }
}