body {
  overflow-x: hidden;
}

nav {
  background: #fbecba;
  margin-left: -60px;
  padding-left: 60px;
  flex: 1.07;
  background: #5fe6ba;
  /*Initial Nav Focused*/
  /*z-index: 3;*/
  /*box-shadow: 0 0 30px rgba(10,30,20,0.3);*/
  overflow-x: hidden;pos-abs
} 

.nav-txtr {
  position: fixed;
  right: 0; left: 0; top: 0; bottom: 0;
  background: url('./../img/txtr-leaves-dead-03.jpg') repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: initial;
  background-position: 0 0;
  opacity: 0.05;
  transition: all 0.2s;
}

nav.off .nav-txtr {
  background-position: -60px 0;
  opacity: 0.02;
}

nav, main {
  animation: none;
  transition: background 0.3s, color 0.3s, opacity 0.3s, box-shadow 0.3s;
  transform-origin: 50% 100%;
  /*transform-origin: 50% 50%;*/
}

nav ul li a, nav.on ul li a {
  color: #f7fb6f;
  transition: all 0.3s;
}

nav.off ul li a {
  color: rgb(50,50,50);
}

nav ul li a, nav ul li a:hover, nav ul li a:active, nav ul li a:visited {
  display: table;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  /*font-size: 10em;*/
  font-size: 7.5vw;
  line-height: 1em;
  font-family: 'Assistant', sans-serif;
  font-weight: 800;
  /*letter-spacing: 25px;*/
}

nav ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: -33px;
  height: 45px;
  background: #63c3e9;
  z-index: -1;
  transform: skewX(-40deg);
  transition: all 0.2s;
  pointer-events: none;
}


nav.on {
  z-index: 3;
  /*color: rgb(73,165,180);
  box-shadow: 0 0 35px rgba(10,30,30,0.4);*/
  animation: nav-switch-bounce-on-nav 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

nav.off {
  background: #222;
  animation: nav-switch-bounce-off 0.3s linear;
  animation-fill-mode: forwards;
}

nav.off ul li a:before, nav.off ul li.cycled a:before {
  background: #171717;
}

nav ul li.active a:before {
  opacity: 0;
  /*background: red;*/
}

nav.off ul li.active {
  background: #171717;
}

nav ul li.active:before {
  opacity: 0;
}

nav ul li {
  height: 134px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 9px;
}

nav ul li a {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#nav-link-home {
  position: fixed;
  top: 50px;
  right: 70px;
  width: 0;
  width: 60px;
  word-wrap: break-word;
  font-size: 2em;
  line-height: 1.3;
}

#nav-link-home.cycled {
}

#nav-link-home a {
  text-decoration: none;
}

nav ul li a:focus {
  background: initial;
}

nav.on li.cycled {
  /*color: red;*/
}

/*nav ul li:after {
  transition: all 0.4s;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  padding-right: 11px;
  width: 100%;
  bottom: 0;
  color: #fff;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s;
  font-style: italic;
}*/

nav ul li.active {
  background: #F972A6;
  box-shadow: 0 14px 15px #547a8f99;
  /*background: #ff6076;*/
  /*text-decoration: underline;*/
  transition: all 0.3s;
}

nav ul li.active a {
  cursor: initial;
}

nav.off ul li.active {
  box-shadow: 0 14px 15px rgba(0,0,0,0.5);
}

nav ul li.active.cycled {
  background: #ff5ea8;
}

nav ul li.active a:before {
  /*display: none;*/
}

/*Nav Tips*/
nav.on ul li .nav-tip {
  position: absolute;
  right: 13px;
  bottom: 30px;
  line-height: 0;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s;
  font-style: italic;
}

nav.on ul li .nav-tip span {
  margin-right: 6px;
  padding: 7px 11px;
  border: 3px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  font-stretch: normal;
}

nav.on ul li .nav-tip-ent {
  bottom: 17px;
}

nav.on ul li .nav-tip-ent span {
  padding: 3px 11px;
}

nav.on ul li.cycled .nav-tip-ent {
  opacity: 1;
  transition: all 0.1s 0.2s;
}

nav.on ul li.active .nav-tip-ent, nav.on ul li.cycled.active .nav-tip-ent {
  opacity: 0;
  display: none;
}

nav.on ul li.active .nav-tip-r {
  opacity: 1;
  transition: all 0.2s;
}

nav.off ul li .nav-tip {
  opacity: 0;
}

/*nav.on ul li.cycled a:before {*/
nav.on ul li.cycled a:before, nav.on ul li a:hover:before {
  left: 100px;
  background: #9e91f2;
  background: #cf7edb;
  box-shadow: -10px 8px 0 rgba(0,0,0,0.05);
  width: 180%;
}

/*********************/
/******* Main ********/
/*********************/

main {
  background: #fff;
  /*padding-right: 60px;*/
  /*flex: 1;*/
  overflow-y: auto;
  z-index: 2;
  font-family: 'Work Sans';
  font-size: 1.2em;
}

/*Initial Main UnFocused*/
main section {
  /*opacity: 0.5;*/
  max-width: 800px;
  margin: 0 auto;
}

main.on section {
  opacity: 1;
}

main section, main article {
  transition: all 0.3s;
}

main.on {
  /*z-index: 3;*/
  /*box-shadow: -10px 0 40px #000;*/
  animation: nav-switch-bounce-on-main 0.3s ease-in-out;
  animation-fill-mode: forwards;
  filter: none;
  /*font-family: inherit;*/
}

main.on, main.on p, main.on ul li, main.on h1, main.on h2, main.on h3, main.on h4, main.on h5, main.on h6 {
  color: #333;
}

main.on p, main.on ul li {
  background: initial;
}

p {
  transition: color 0.3s;
}

main.off {
  animation: nav-switch-bounce-off-main 0.3s linear;
  animation-fill-mode: forwards;
}

main.off section, main.off article {
  /*opacity: 0.5;*/
}

nav.off {
  animation: nav-switch-bounce-off-nav 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes nav-switch-bounce-on-main {
  0% { flex: 1; margin-right: 0; padding-right: 0;}
  0.1% { margin-right: -60px; padding-right: 60px; }
  25% { transform: skewX(2deg); }
  50% { flex: 1.13; }
  68% { transform: skewX(-1deg); }
  99.9% { margin-right: -60px; padding-right: 60px; }
  100% { flex: 1.07; margin-right: 0; padding-right: 0;}
}

@keyframes nav-switch-bounce-on-nav {
  0% { flex: 1; }
  25% { transform: skewX(-2deg); }
  50% { flex: 1.13; }
  68% { transform: skewX(1deg); }
  100% { flex: 1.07; }
}

@keyframes nav-switch-bounce-off-main {
  0% { flex: 1.07; }
  100% { flex: 1; }
}

@keyframes nav-switch-bounce-off-nav {
  0% { flex: 1.07; }
  100% { flex: 1; }
}

.nav-instr-nav {
  transition: opacity 1s;
}

nav.on .nav-instr-nav {
  right: 0;
  top: 47%;
  transform: translateY(-50%);
  color: #fff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  opacity: 1;
  position: absolute;
}

.nav-instr-nav:before {
  position: fixed;
  content: '';
  height: 200px;
  width: 200px;
  right: -100px;
  border-radius: 50%;
  background: #b1db7d;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.nav-instr-nav .text-key {
  display: inline-block;
  margin-right: 8px;
  line-height: 1.2em;
  margin-left: 3px;
}

.nav-instr-text {
  position: fixed;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: 50% 50%;
  right: -134px;
  font-weight: bold;
  width: 300px;
  text-align: center;
  top: 50%;
}

nav.off .nav-instr-nav {
 opacity: 0;
}

/* Inactive lighten */

main.off p, main.off ul li, main.off h1, main.off h2, main.off h3, main.off h4, main.off h5, main.off h6 {
  color: #aaa;
  transition: all 0.3s;
}

main figure {
  background: #f2f2f2;
  /*transition: all 0.3s;*/
}

main img {
  opacity: 0.12;
  transition: all 0.4s;
  position: relative;
}

main.on img {
  opacity: 1;
}

main .symbol-bg-01:after {
  content: '@';
  position: absolute;
  font-size: 50vw;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) translateZ(0.01px);
  text-align: left;
  font-weight: bold;
  color: #f5f5f5;
  /*transition: all 0;*/
  /*transition-delay: 0;*/
  /*transition-duration: 0;*/
  transition: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
}

main.on .symbol-bg-01:after {
  color: #ffe3a1;
  transform: translateY(-50%) translateX(-50%) translateZ(0.01px);
  transition-delay: 0.1s;
  transition-duration: 0.4s;
}

/* Inactive block background */

/*main .symbol-bg-01:after {
  content: '▆';
}

main.on .symbol-bg-01:after {
  content: '@';
}

main ul {
  list-style: none;
}

main.on ul {
  list-style: initial;
}

main img {
  opacity: 0;
}

main, main p, main ul li {
  color: #f8f8f8;
}

main p, main ul li {
  background: #f8f8f8;
  transition: all 0.3s;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  background: #f5f5f5;
  color: #f5f5f5;
  transition: all 0.3s;
}

main.on h1, main.on h2, main.on h3, main.on h4, main.on h5, main.on h6 {
  color: initial;
  background: initial;
}*/

/* Inactive White Background */

/*main .symbol-bg-01:after {
  color: #fff;
}

main ul {
  list-style: none;
}

main.on ul {
  list-style: initial;
}

main img {
  opacity: 0;
}

main, main p, main ul li {
  color: #fff;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #fff;
  transition: all 0.3s;
}

main.on h1, main.on h2, main.on h3, main.on h4, main.on h5, main.on h6 {
  color: initial;
  background: initial;
}

main figure {
  background: transparent;
}*/

.loader > * {
  color: #CF7EDB;
}

/*** Media Queries To Keep Main From Overflowing ***/
/*** max-width / 2.45 ***/
@media (max-width: 2500px) {
  main section { max-width: 1121px; }
}
@media (max-width: 2400px) {
  main section { max-width: 1075px; }
}
@media (max-width: 2300px) {
  main section { max-width: 1030px; }
}
@media (max-width: 2200px) {
  main section { max-width: 975px; }
}
@media (max-width: 2100px) {
  main section { max-width: 930px; }
}
@media (max-width: 2000px) {
  main section { max-width: 880px; }
}
@media (max-width: 1900px) {
  main section { max-width: 837px; }
}
@media (max-width: 1800px) {
  main section { max-width: 794px; }
}
@media (max-width: 1700px) {
  main section { max-width: 749px; }
}
@media (max-width: 1600px) {
  main section { max-width: 703px; }
}
@media (max-width: 1500px) {
  main section { max-width: 658px; }
}
@media (max-width: 1400px) {
  main section { max-width: 613px; }
}
@media (max-width: 1300px) {
  main section { max-width: 538px; }
}
@media (max-width: 1200px) {
  main section { max-width: 522px; }
}
@media (max-width: 1100px) {
  main section { max-width: 477px; }
}
@media (max-width: 1000px) {
  main section { max-width: 432px; }
}
@media (max-width: 900px) {
  main section { max-width: 387px; }
}
@media (max-width: 800px) {
  main section { max-width: 341px; }
}
/*@media (max-width: 700px) {
  main section { max-width: 296px; }
}*/