@media (min-width: 900px) {

  body {
    /*overflow-x: hidden;*/
  }

  nav {
    margin-left: -60px;
    padding-left: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
  } 

  .nav-txtr {
    position: absolute;
    right: 0; left: 0; top: 0; bottom: 0;
    /*background: url('./../img/txtr-leaves-dead-03.jpg') repeat center center; */
    background: url('./../img/pattern-geometry-01-c.png') repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: initial;
    background-position: 0 0;
    opacity: 0.05;
    opacity: 0.23;
    transition: all 0.2s;
  }

  nav.off .nav-txtr {
    background-position: -60px 0;
    opacity: 0.1;
  }

  nav, main {
    animation: none;
    transition: background 0.3s, color 0.3s, opacity 0.3s, box-shadow 0.3s, flex 0.2s;
    transform-origin: 50% 100%;
    flex: 1;
    /*transform-origin: 50% 50%;*/
  }

  nav.off ul li a {
    color: rgb(50,50,50);
  }

  main.expand section {
    max-width: 1100px;
  }

  nav.shrink {
    pointer-events: none;
    flex: 0 0 200px;
  }

  nav.shrink > div, nav.shrink > ul {
    opacity: 0;
  }

  .shrinkbar {
    display: block;
    position: fixed;
    padding: 1rem 1.5rem;
    text-align: center;
    transition: opacity 0.3s 0.1s, left 0.2s, right 0.2s, top 0.2s;
    pointer-events: auto;
    cursor: pointer;
  }

  .shrinkbar.main {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    display: block;
    background: rgba(247,247,247,0.87);
    /*border-bottom: 1px solid #f2f2f2;*/
    /*box-shadow: 0 4px 6px rgba(10,20,30,0.08);*/
    top: 0;
    transition: none;
    right: 0;
    left: 50%;
    color: rgba(0,0,0,0.5);
  }

  .shrinkbar.main:hover {
    color: rgba(0,0,0,0.9);
    /*background: linear-gradient(to right, #ffffff 0%,#f3f3f3 10%,#f2f2f2 89%,#ffffff 100%);*/
    background: #eee;
  }

  main.expand .shrinkbar.main {
    opacity: 0;
    pointer-events: none;
    /*left: 17%;*/
    top: -100px;
  }

  nav.shrink .shrinkbar.nav {
    opacity: 1;
    pointer-events: auto;
    left: 0;
  }

  .shrinkbar.nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    color: rgba(190,98,214,0.7);
    padding: 0;
    width: 200px;
    left: -10rem;
    transition: background 0.2s
  }

  .shrinkbar.nav:hover {
    color: rgba(190,98,214,0.93);
    background: #5fe6ba;
  }

  .shrinkbar.nav .inner {
    transform: rotate(-90deg);
    top: 50%;
    right: 3rem;
    position: absolute;
    transform-origin: 50% 50%;
    pointer-events: none;
    font-size: 1.3rem;
  }

  nav.shrink .shrinkbar.nav .inner {
    left: -9px;
  }

  .shrinkbar .larr, .shrinkbar .rarr {
    position: absolute;
    font-size: 2rem;
    top: 40%;
    transform: translateY(-50%)
  }

  .shrinkbar .larr {
    left: 1.5rem;
  }

  .shrinkbar .rarr {
    right: 1.5rem;
  }

  .shrinkbar.nav .tarr, .shrinkbar.nav .barr {
    position: absolute;
    font-size: 2rem;
    left: 53px;
    color: rgba(255,255,255,0.3);
  }

  .shrinkbar .tarr {
    top: 2rem;
  }

  .shrinkbar .barr {
    bottom: 2rem;
  }

  .shrinkbar.nav:hover .tarr, .shrinkbar.nav:hover .barr {
    color: rgba(0,0,0,0.3);
    font-weight: bold;
  }

  .off .shrinkbar {
    opacity: 0;
    pointer-events: none;
  }

  nav.on {
    z-index: 3;
    /*color: rgb(73,165,180);
    box-shadow: 0 0 35px rgba(10,30,30,0.4);*/
    /* animation: nav-switch-bounce-on-nav 0.3s ease-in-out; */
    /* animation-fill-mode: forwards; */
  }

  nav.off {
    background: #222;
    /*animation: nav-switch-bounce-off 0.3s linear;*/
    /*animation-fill-mode: forwards;*/
  }

  nav.off ul li a:before, nav.off ul li.cycled a:before {
    background: #171717;
  }

  nav.off ul li.active a:before {
   background: #111; 
  }

  nav ul {
    position: absolute;
    right: 0; left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Active Link cycled & hover before after elements styling */
  nav ul li.active a:after {
    position: absolute;
    /* content: ''; */
    opacity: 1;
    background: rgba(255,255,255,0.25);
    height: 8px;
    bottom: 0;
    right: 0; left: 0;
    z-index: -1;
  }

  nav ul li.active:before {
    position: absolute;
    content: '';
    opacity: 1;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    left: 36%;
    transform: translate(-65%,-50%);
    top: 57%;
    background: rgb(255, 118, 157);
    z-index: -2;
    right: initial;
    transition: all 0.3s;
  }

  nav ul li.active a:hover:after, nav ul li.active.cycled a:after {
    background: rgba(255,255,255,0.4);
  }

  nav ul li {
    /*height: 134px;*/
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 9px;
  }

  nav ul li a {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }

  nav.on ul li.cycled a:before, nav.on ul li a:hover:before {
    background: #cf7edb;
  }

  nav ul li a:before {
    bottom: -2px;
    left: -33px;
    height: 45px;
  }

  nav ul li a, nav ul li a:hover, nav ul li a:active, nav ul li a:visited {
    font-size: 7.5vw;
  }

  nav ul li.cycled a:before, nav ul li a:hover:before {
    height: 45px;
    left: 100px;
    box-shadow: -10px 8px 0 rgba(0,0,0,0.05);
    width: 180%;
  }

  #nav-link-home {
    top: 40px;
    right: 60px;
    width: 80px;
    font-size: 2em;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
  }

  #nav-link-home a {
    box-shadow: 0 7px 7px rgba(20,40,20,0.08);
    border-radius: 120px;
    overflow: hidden;
    border: 5px solid #df8ef9;
    cursor: pointer;
  }

  #nav-link-home:hover a, #nav-link-home.cycled a {
    box-shadow: 0 10px 14px rgba(20,40,20,0.28);
    border: 5px solid #dc79fb;
  }

  #nav-link-home:before {
    opacity: 0;
  }

  #nav-link-home:hover:before {
    opacity: 1;
  }

  nav.off #nav-link-home {
    transform: translateX(200px);
    border: 5px solid rgba(0,0,0,0);
  }

  nav.off #nav-link-home.cycled {
  }

  #nav-link-home a {
    text-decoration: none;
    background: transparent;
    /*padding: 4px 10px;*/
  }

  nav ul li a:focus {
    background: initial;
  }

  nav ul li.active, nav.on ul li.active {
    transition: all 0.3s;
  }

  nav ul li.active a {
    cursor: initial;
  }

  nav.off ul li.active a:after {
    background: rgba(255,255,255,0.04);
  }

  nav.off ul li.active:before {
    background: #171717;
  }

  /*Nav Tips*/
  nav.on ul li .nav-tip {
    position: absolute;
    right: 13px;
    bottom: 21px;
    line-height: 0;
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    opacity: 0;
    transition: all 0.2s;
    font-style: italic;
  }

  nav.on ul li .nav-tip span {
    margin-right: 6px;
    padding: 7px 11px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    font-stretch: normal;
  }

  nav.on ul li .nav-tip-ent {
    bottom: 17px;
  }

  nav.on ul li .nav-tip-ent span {
    padding: 3px 11px;
  }

  nav.on ul li.cycled .nav-tip-ent {
    opacity: 0;
    transition: all 0.1s 0.2s;
  }

  nav.on ul li.active .nav-tip-ent, nav.on ul li.cycled.active .nav-tip-ent {
    opacity: 0;
    display: none;
  }

  nav.on ul li.active .nav-tip-r {
    opacity: 0;
    transition: all 0.2s;
  }

  nav.on ul li.active:hover .nav-tip-r, nav.on ul li.active.cycled .nav-tip-r {
    opacity: 1;
  }

  nav.off ul li .nav-tip {
    opacity: 0;
  }

  /*********************/
  /******* Main ********/
  /*********************/

  main {
    background: #fff;
    /*padding-right: 60px;*/
    /*flex: 1;*/
    overflow-y: auto;
    z-index: 2;
    /*font-family: 'Work Sans', Arial, sans-serif;*/
    font-size: 1.2em;
  }

  /*Initial Main UnFocused*/
  main section {
    /*opacity: 0.5;*/
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
  }

  main.on section {
    opacity: 1;
  }

  main section, main article {
    transition: opacity 0.3s;
    /*overflow-x: hidden;*/
  }

  main.on {
    /*z-index: 3;*/
    /*box-shadow: -10px 0 40px #000;*/
    /* animation: nav-switch-bounce-on-main 0.3s ease-in-out; */
    /* animation-fill-mode: forwards; */
    /*font-family: inherit;*/
  }

  main.on, main.on p, main.on ul li, main.on h1, main.on h2, main.on h3, main.on h4, main.on h5, main.on h6 {
    color: #333;
  }

  main.on p, main.on ul li {
    background: initial;
  }

  p {
    transition: color 0.3s;
  }

  main.off {
    /* animation: nav-switch-bounce-off-main 0.3s linear; */
    /* animation-fill-mode: forwards; */
  }

  main, nav {
    flex: 1;
  }

  nav.off {
    /* animation: nav-switch-bounce-off-nav 0.3s linear; */
    /* animation-fill-mode: forwards; */
  }

  @keyframes nav-switch-bounce-on-main {
    0% { flex: 1; margin-right: 0; padding-right: 0;}
    /* 0.1% { margin-right: -60px; padding-right: 60px; } */
    /* 25% { transform: skewX(2deg); } */
    /* 50% { flex: 1.13; } */
    /* 68% { transform: skewX(-1deg); } */
    /* 99.9% { margin-right: -60px; padding-right: 60px; } */
    /* 100% { flex: 1.07; margin-right: 0; padding-right: 0;} */
  }

  @keyframes nav-switch-bounce-on-nav {
    0% { flex: 1; }
    /* 25% { transform: skewX(-2deg); } */
    /* 50% { flex: 1.13; } */
    /* 68% { transform: skewX(1deg); } */
    /* 100% { flex: 1.07; } */
  }

  @keyframes nav-switch-bounce-off-main {
    /* 0% { flex: 1.07; } */
    100% { flex: 1; }
  }

  @keyframes nav-switch-bounce-off-nav {
    /* 0% { flex: 1.07; } */
    100% { flex: 1; }
  }

  .nav-instr-nav {
    transition: opacity 1s;
  }

  nav.on .nav-instr-nav {
    right: 0;
    top: 47%;
    transform: translateY(-50%);
    color: #fff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    opacity: 1;
    position: absolute;
  }

  .nav-instr-nav:before {
    position: fixed;
    content: '';
    height: 200px;
    width: 200px;
    right: -100px;
    border-radius: 50%;
    background: #b1db7d;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .nav-instr-nav .text-key {
    display: inline-block;
    margin-right: 8px;
    line-height: 1.2em;
    margin-left: 3px;
  }

  .nav-instr-text {
    position: fixed;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 50% 50%;
    right: -134px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    top: 50%;
  }

  nav.off .nav-instr-nav {
   opacity: 0;
  }

  /* Inactive lighten */

  main.off p, main.off ul li, main.off a, main.off h1, main.off h2, main.off h3, main.off h4, main.off h5, main.off h6, main.off a.btn {
    color: #aaa;
    transition: color 0.3s;
  }

  main.off a.linker {
    opacity: 0;
  }

  code {
    transition: all 0.3s;
  }

  main.off code {
    background: #ddd;
    border-left-color: #ccc;
  }

  main figure {
    background: #f2f2f2;
    /*transition: all 0.3s;*/
  }

  main img, main video {
    opacity: 0.12;
    transition: opacity 0.4s;
    position: relative;
  }

  main.on img, main.on video {
    opacity: 1;
  }

  main .symbol-bg-01 {
    overflow-y: visible;
  }

  main.off .heading-rot-l:before {
    background: rgba(0,0,0,0.1);
  }

  main.off .screen-rot:before {
    background: transparent;
  }

}

@media (min-width: 1950px) {
  main.expand section {
    max-width: 1500px;
  }
}
/*** Media Queries To Keep Main From Overflowing ***/
/*** max-width / 2.45 ***/
/*@media (max-width: 2500px) {
  main section { max-width: 1121px; }
}
@media (max-width: 2400px) {
  main section { max-width: 1075px; }
}
@media (max-width: 2300px) {
  main section { max-width: 1030px; }
}
@media (max-width: 2200px) {
  main section { max-width: 975px; }
}
@media (max-width: 2100px) {
  main section { max-width: 930px; }
}
@media (max-width: 2000px) {
  main section { max-width: 880px; }
}
@media (max-width: 1900px) {
  main section { max-width: 837px; }
}
@media (max-width: 1800px) {
  main section { max-width: 794px; }
}
@media (max-width: 1700px) {
  main section { max-width: 749px; }
}
@media (max-width: 1600px) {
  main section { max-width: 703px; }
}
@media (max-width: 1500px) {
  main section { max-width: 658px; }
}
@media (max-width: 1400px) {
  main section { max-width: 613px; }
}
@media (max-width: 1300px) {
  main section { max-width: 538px; }
}
@media (max-width: 1200px) {
  main section { max-width: 522px; }
}
@media (max-width: 1100px) {
  main section { max-width: 477px; }
}
@media (max-width: 1000px) {
  main section { max-width: 432px; }
}
@media (max-width: 900px) {
  main section { max-width: 387px; }
}
@media (max-width: 800px) {
  main section { max-width: 341px; }
}*/
/*@media (max-width: 700px) {
  main section { max-width: 296px; }
}*/
